$white:               #fff;
$white-darker:        #FAFAFA;

$gray:                #CCC;
$gray-light:          #333;
$gray-dark:           #999;


$dark:                #000;

$blue:                #0084FF;

$danger:              #FF4040;
