$white:               #fff;
$white-darker:        #FAFAFA;

$gray:                #CCC;
$gray-light:          #333;
$gray-dark:           #999;


$dark:                #000;

$blue:                #0084FF;

$danger:              #FF4040;

$activeRed:           #ff6a3c;

$size14:              14rpx;
$size20:              20rpx;
$size24:              24rpx;
$size28:              28rpx;
$size30:              30rpx;

@function rpx($rpx) {
  @return $rpx * 1rpx ;
}
